---
---

@import "{{ site.theme }}";

/* ---
---
@import "main"; */

/* Color of Footer Links */
a.gray, span.gray { color: #828282; text-decoration: none; }
a:visited, span.gray:visited { color: #3f3f3f}
a:hover, span.gray:hover { color: #111; text-decoration: underline; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }

// Connect with McK link at top of page
.connect-with-McK {
text-align: center;
font-size: larger;
color: #5f939a;
margin: 10px auto 40px;
}

/* Header and Footer background */
.site-header.pink, .site-footer.pink{
  background-color: #eac8af;
}

/* Footer: Width of Columns */
.footer-col-1.space { width: -webkit-calc(35% - (30px / 2)); width: calc(30% - (30px / 2)); }

.footer-col-2.space { width: -webkit-calc(25% - (30px / 2)); width: calc(25% - (30px / 2)); }

.footer-col-3.space { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }


/* Footer: Color of non-link text */
.footer-col-3.teal, .p-name.teal {
  color: #5f939a;
}

.larger-font {
font-size: 18px;
}

.margin-top-btm {
margin: 40px auto;
}

.margin-figcaption {
  margin-top: 10px;
  margin-bottom: 100px;
}

/* Footer: Icon color */
.svg-icon.teal {
  fill: #5f939a;
}

.parallax-puglia {
  /* The image used */
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../images/puglia.jpg");

  /* Set a specific height */
  min-height: 500px;
  width: 100%;

  font-weight: 500;
  color: white;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-kc {
  /* The image used */
  background-image: url("../images/kc.jpg");

  /* Set a specific height */
  min-height: 500px;
  width: 100%;

  color: white;
  margin-top: 100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-cycle {
  /* The image used */
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../images/cycle.JPG");

  /* Set a specific height */
  min-height: 500px;
  width: 100%;

  font-weight: 500;
  margin-top: 100px;
  color: white;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// img {
//   width: 100%;
// }

.img-project {
  height: 200px;
  margin: auto;
}

.repo-link {
  background-color: #eac8af;
  text-align: center;
  padding: 20px;
}


