---
---

@import "{{ site.theme }}";

/* ---
---
@import "main"; */

/* Color of Footer Links */
a.gray, span.gray { color: #828282; text-decoration: none; }
a:visited, span.gray:visited { color: #3f3f3f}
a:hover, span.gray:hover { color: #111; text-decoration: underline; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }

// Connect with McK link at top of page
.connect-with-McK {
text-align: center;
font-size: larger;
color: #5f939a;
margin: 40px auto;
}

.connect-with-McK.pink {
  background-color: #eac8af;
  padding: 20px;
  border-radius: 5px;
}

/* Footer: Width of Columns */
.footer-col-1.space { width: -webkit-calc(35% - (30px / 2)); width: calc(30% - (30px / 2)); }

.footer-col-2.space { width: -webkit-calc(25% - (30px / 2)); width: calc(25% - (30px / 2)); }

.footer-col-3.space { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }


/* Footer: Color of non-link text */
.footer-col-3.teal, .p-name.teal, .post-link.teal {
  color: #5f939a;
}

.img-project {
  height: 275px;
  margin: 20px auto;
}

.larger-font {
font-size: 18px;
}

.link-pink-bg {
background-color: #eac8af;
padding: 5px;
border-radius: 5px;
margin: 15px 0;
}

.margin-about {
margin-top: 50px;
}

.margin-about-skills {
margin-top: 100px;
}

.margin-top-btm {
margin: 40px auto;
}

.margin-figcaption {
  margin-top: 10px;
  margin-bottom: 100px;
}

.margin-parallax {
margin-top: 40px;
margin-bottom: 40px;
}

.margin-post {
  margin-top: 50px;
}

.opacity-word-overlay {
  // background: rgba(0, 0, 0, 0.5);
}

.parallax-cycle {
  /* The image used */
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../images/cycle.JPG");

  /* Set a specific height */
  min-height: 500px;
  width: 100%;

  font-weight: 500;
  margin-top: 100px;
  color: white;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 30px;
  margin: 150px 0;
}

.parallax-kc {
  /* The image used */
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("../images/kc.jpg");

  /* Set a specific height */
  min-height: 500px;
  width: 100%;

  color: white;
  margin-top: 100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 30px;
  margin: 200px 0;
}

.parallax-puglia {
  /* The image used */
  background-image: 
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("../images/puglia.jpg");

  /* Set a specific height */
  min-height: 500px;
  width: 100%;

  font-weight: 500;
  color: white;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 30px;
  margin: 50px 0;
}

.project-img {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.project-img-preview {
  display: flex;
  justify-content: center;
}

.project-preview {
  border: 1px solid #d8ac9c;
  padding: 20px;
  border-radius: 10px;
  background-color: #fcecdd;
}

.repo-link {
  background-color: #eac8af;
  text-align: center;
  padding: 20px;
}

/* Header and Footer background */
.site-header.pink, .site-footer.pink{
  background-color: #eac8af;
}

/* Footer: Icon color */
.svg-icon.teal {
  fill: #5f939a;
}

.vimeo-video {
  height: auto;
  
}

.vimeo-video-container {
  margin: 0 auto;
  width: 75%;
}